name: Build and deploy Vue.js frontend to Azure Web App - passion-Lecture

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    defaults:
      run:
        working-directory: frontend

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Build Vue.js app
        run: npm run build

      - name: Upload production build
        uses: actions/upload-artifact@v4
        with:
          name: vue-dist
          path: frontend/dist

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Download production build
        uses: actions/download-artifact@v4
        with:
          name: vue-dist
          path: .

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          app-name: "passion-Lecture"
          slot-name: "Production"
          package: .
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_C6256BBDEE4D409A8E28224DA1C573B2 }}
