name: Build and Deploy

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  # Job de Construction du Backend
  build-backend:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js for backend
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "npm"
          cache-dependency-path: backend/package-lock.json

      - name: Install backend dependencies
        working-directory: backend
        run: npm ci

      - name: Create backend deployment ZIP
        run: |
          cd backend
          zip -r ../backend.zip .

      - name: Upload backend artifact
        uses: actions/upload-artifact@v4
        with:
          name: backend-zip
          path: backend.zip

  # Job de Construction du Frontend
  build-frontend:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js for frontend
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "npm"
          cache-dependency-path: frontend/package-lock.json

      - name: Install frontend dependencies
        working-directory: frontend
        run: npm ci

      - name: Build frontend
        working-directory: frontend
        run: npm run build

      - name: Create frontend deployment ZIP
        run: |
          cd frontend/dist
          zip -r ../../frontend-dist.zip .

      - name: Upload frontend artifact
        uses: actions/upload-artifact@v4
        with:
          name: frontend-zip
          path: frontend-dist.zip

  # Job de Déploiement du Backend
  deploy-backend:
    runs-on: ubuntu-latest
    needs: build-backend

    steps:
      - name: Download backend artifact
        uses: actions/download-artifact@v4
        with:
          name: backend-zip
          path: .

      - name: Deploy backend to Azure Web App (passion-lecture)
        uses: azure/webapps-deploy@v3
        with:
          app-name: "passion-lecture"
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_C6256BBDEE4D409A8E28224DA1C573B2 }}
          package: backend.zip

  # Job de Déploiement du Frontend
  deploy-frontend:
    runs-on: ubuntu-latest
    needs: build-frontend

    steps:
      - name: Download frontend artifact
        uses: actions/download-artifact@v4
        with:
          name: frontend-zip
          path: .

      - name: Deploy frontend to Azure Web App (Front)
        uses: azure/webapps-deploy@v3
        with:
          app-name: "passion-lecture-front"
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_10E48B068CF9471B86403F0386409398 }}
          package: frontend-dist.zip
